<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>Test page Home: @DateTime.Now.ToString("HH:mm:ss")</div>
    @{

     }
</body>
</html>
