<html>
<body>
    <h1>Create Game</h1>
    <hr />
    <form action="create" method="POST">
        <span>City</span>
        <input type="text" name="gameCity" /><br />
        <span>Player1 Name</span>
        <input type="text" name="p1Name" /><br />
        <span>Player1 Rank</span>
        <input type="text" name="p1Rank" /><br />
        <span>Player2 Name</span>
        <input type="text" name="p2Name" /><br />
        <span>Player2 Rank</span>
        <input type="text" name="p2Rank" /><br />
        <input type="submit" name="operation" value="Create" />
    </form>
</body>
</html>